<h1>Da Life</h1>


  <%= image_tag("Da.jpg") %>
<p>  Welcome </p>

<p>
  
  <h2><span class = "label label-default">Sign in</span></h2>
  <h2><span class = "label label-warning">
      <%= link_to "Sign Up Now !", '/users/new', :class => "signup_button round" %> 
    </span>
  </h2>
</p>

