<h1>New Weather</h1>

<%= render 'form' %>
<p>
<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search woeid with city name">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Woeid!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</p>


<p>
<%= link_to 'Back', weathers_path %>
</p>
